<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up | Vacation Now!</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.1/css/all.css} "/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}">
</head>
<body>
  <nav class="navbar navbar-expand-md" id="nav1">
    <a th:href="@{/}" class="navbar-brand">Vacation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbars">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse navbars" id="navbar1">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-user"></i> My Account</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" th:href="@{/signin}">Sign In</a>
                <a class="dropdown-item" th:href="@{/register}">Register</a>
                <a class="dropdown-item" th:href="@{/my_reservation}">My Reservation</a>
              </div>
            </li>
        </ul>
        
    </div>
  </nav>
  <nav class="navbar navbar-expand-md" id="nav2">
      <a th:href="@{/}" class="navbar-brand">Now!</a>
      <div class="navbar-collapse collapse navbars" id="navbar2">
          <ul class="navbar-nav w-100 justify-content-center">
              <li class="nav-item">
                  <a class="nav-link" th:href="@{/}">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Discover</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Contact Us</a>
              </li>
              <li class="nav-item ml-auto">
                  <a class="nav-link" href="#"> <i class="fa-solid fa-hotel"></i> +Add Your Hotel</a>
              </li>
          </ul>
      </div>
  </nav>
  <div class="container-fluid" id="signupFrame">
    <div class="column w-50">
      <h1>Your journey starts right here!</h1>
    </div>
    <div class="column w-50" id="signupContainer">
      <form th:object="${userDTO}" action="#" th:action="@{/register}" method="POST">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input class="form-control" id="firstName" type="text" th:field="*{firstName}" placeholder="First Name">
          <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input class="form-control" id="lastName" type="text" th:field="*{lastName}" placeholder="Last Name">
          <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}">
        </div>
        <div class="form-group">
          <label for="userEmail">Email Address</label>
          <input type="text" th:field="*{email}" class="form-control" id="userEmail" placeholder="Enter email">
          <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}">
        </div>
        <div class="form-group">
          <label for="userPassword">Password</label>
          <input type="password" th:field="*{password}" class="form-control" id="userPassword" placeholder="Password">
          <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}">
        </div>
        <div class="form-group">
          <label for="confirmPassword">Retype Password</label>
          <input type="password" th:field="*{confirmPassword}" class="form-control" id="confirmPassword" placeholder="Password">
          <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}">
        </div>
        <div class="form-group form-check">
          <div class="column business-label">
            <label class="form-check-label" for="role">Business Profile?</label>
          </div>
          <div class="column business-check">
            <input id="role" type="checkbox" name="businessProfile" th:checked="*{businessProfile}" />
          </div>
        </div>
        <button type="submit" class="btn btn-primary" id="signupButton">Sign Up</button>
      </form>
      <span id="alreadyHaveAccount">
        Have already an account? Log in <a href="./signin">here!</a>
      </span>
    </div>
  </div>
</body>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/momentjs/min/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</html>